.object_block{
    .title{
        font-size: 32px;
        font-weight: 600;
        color: #3a4257;
        margin: 77px 0 37px 0;    
    }
}

.object__box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .item{
        .img img{
            border-radius: 4px;
            max-width: 352px;
            width: 100%;
        }
        .description{
            font-family: ProbaPro;
            font-size: 18px;
            color: #3b4256; 
            margin: 19px 0 22px 0;
            max-width: 352px;
            width: 100%;
        }
        .date{
            font-size: 14px;
            color: #848e99;
            margin-bottom: 69px;
        }
    }
}