section.object_block
    .container
        p.title Останні відновленні об`єкти
        .object__box
            .item 
                .img 
                    img(src="/assets/img/content/1101.jpg", alt="object pic")
                p.description У наслідок попадання снаряда вогнем практично повністю знищений громадський простір який відновили... 
                p.date 23 липня 2018
            .item 
                .img 
                    img(src="/assets/img/content/1101.jpg", alt="object pic")
                p.description У наслідок попадання снаряда вогнем практично повністю знищений громадський простір який відновили... 
                p.date 23 липня 2018
            .item 
                .img 
                    img(src="/assets/img/content/1101.jpg", alt="object pic")
                p.description У наслідок попадання снаряда вогнем практично повністю знищений громадський простір який відновили... 
                p.date 23 липня 2018