header
    .mobile_header
        .container-fluide
            .line
                .__left
                    a(href="#").logo
                        img(src='assets/img/content/zp.png', alt='logo')
                .__right
                    a(href="#").visible
                        img(src='assets/img/minified-svg/accessibility-icon-big.svg', alt='vis')
                    .sendwich.o
                        span.sendwich-btn
        .mobile__menu
            .container-fluide
                .flex
                    .top
                        .line
                            .__left
                                a(href="#gov").logo.main-logo.main-logo-dark
                                    .icon-flag
                                        .yellow
                                        .blue
                                    .wrap-text
                                        span.one
                                            | gov.ua
                                        span.light
                                            | Державні сайти України</span>
                            .__right
                                .sendwich.c
                                    span.sendwich-btn
                        img(src="assets/img/content/zp.png" alt="emblem").logo
                        .header-entity
                            p.had Центр допомоги переселенцям
                            p.sub_had Покровської міської ради
                        menu
                            p.had Меню
                            ul.menu
                                
                                li
                                    a(href="#") Головна
                                li
                                    a(href="#") Потрібна допомога
                                li
                                    a(href="#") Пільги та гарантії
                                li
                                    a(href="#") Контакти
                                
                    .bottom
                        .social
                            a(href='#')
                                img(src='assets/img/content/facebook@1x.png', alt='fb')
                            a(href='#')
                                img(src='assets/img/content/twitter.png', alt='tw')
    .header
        .top_part
            .container-fluide
                .line
                    .__left
                        a(href="#gov").logo.main-logo.main-logo-dark
                            .icon-flag
                                .yellow
                                .blue
                            .wrap-text
                                span.one
                                    | gov.ua
                                span.light
                                    | Державні сайти України</span>


                        .social
                            a(href='#')
                                i.ic.fab.fa-facebook-square
                            a(href='#')
                                i.ic.fab.fa-twitter
                    .__right
                        a(href="#").visible
                            img(src='assets/img/content/accessibility-icon-big.png', alt='vis')
                        p.lenguage
                                select
                                    option.lang-ua
                                        p Українська
                                    option.lang-en
                                        p English
                                    option.lang-ru
                                        p Русский  
                        .login.logined
                            p Вхід
                            img(src="assets/img/content/dropdown.png" alt="tr")
                            ul.logined_menu(style="display:none;")
                                li
                                    a(href='#') Вхід
                                li
                                    a(href='#') Реєстрація
                            .after_login
                                .__left
                                    .img(style='background-image:url("assets/img/content/mainchair-photo.png")')
                                .__right
                                    p.name Рева<br> Олекснандр Олександрович
                                    a(href="#").link Налаштування
                                    a(href="#").link Вихід  


        .bottom_part
            .container
                .line
                    .__left
                        img(src="assets/img/content/zp.png" alt="emblem").emblem
                        .header-entity
                            p.had Центр допомоги переселенцям
                            p.sub_had Покровської міської ради
                    .__right
                        menu
                            ul.menu
                                li
                                    a(href="#") Головна
                                li
                                    a(href="#") Потрібна допомога
                                li
                                    a(href="#") Пільги та гарантії
                                li
                                    a(href="#") Контакти