section.contact_block
    .container
        .contact__box
            p.title Ваша некомерційна організація хоче працювати з нашим Центром?
            a(href="#").button Напишіть нам
            p.text Ми завжди готові проявити участь і допомогти тим, кому дійсно потрібна допомога. 
                a(href="#") Приєднуйтесь до нашої спільноти.