section.immigrant_block
    .container
        .immigrant__help
            .immigrant__help--box
                .immigrant__help--for Для переселенців
                .immigrant__help--status
                    p.help__status--title Отримання статусу переселенця
                    p.help__status--description Внутрішньо переміщена особа – громадянин України, іноземець або людина без громадянства, який законно перебуває на території країни й має право на постійне проживання.
                .immigrant__help--note
                    p.help__note--title Як отримати довідку переселенця?
                    p.help__note--description Підставою для постановки на облік ВПО є проживання на тимчасово окупованій території або в районі проведення антитерористичної операції.
                .immigrant__help--more
                    a(href="#")  Показати ще 13 послуг
            .immigrant__help--block
                .immigrant__help--family Сім’ям
                .immigrant__help--list
                    a(href="#") Потребую допомоги
                    a(href="#") Пільги
                    a(href="#") Безкоштовні консультації
                    a(href="#") Отримання грошової допомоги
                    a(href="#") Санаторно-курортне лікування 
                    a(href="#") Переглянути увесь перелік
