section.order_block
    .container
        p.bread__crumps Головна / Нормативно-правова база / Закон про отримання довідки ТПО
        .box
            .left
                p.order Приказ Министерства социальной политики от 27.12.2016 № 1610 «Об утверждении формы Заявления о постановке на учет внутренне перемещенного лица»
                p.description Сьогодні провідні країни Європи та світу використовують інструмент електронних петицій як діючий засіб вивчення громадської думки та реагування на найактуальніші питання, які турбують мешканців громад. Нещодавно, згідно із змінами у законодавстві, електронні петиції почали впроваджуватись і в Україні як на загальнодержавному, так і на місцевому рівнях. <br><br> Місто є відкритим для участі мешканців в його управлінні, оскільки все, що ми робимо – ми робимо для добробуту нашої громади.
                p.had Концепція розвитку електронної демократії
                .line
                    p.num 1.
                    .stack
                        p.text Сьогодні, в епоху стрімкого розвитку інформаційних технологій, відкриваються нові можливості для забезпечення ефективної участі громадськості в процесах управління, як на місцевому, так і на загальнодержавному рівнях. Саме на це спрямована робота порталу «Електронні консультації», який створено в нашому місті. 
                        .sub
                            span 1.1
                            p.number На головній сторінці сайту Ви бачите кнопки швидкого доступу до трьох основних функцій, таких як знайти актуальну петицію яка Вас цікавить, знайти петицію під якою Ви вже поставили підпис, та створити новую петицію.Ви можете переглянути петиції, по яким триває збір підписів; петиції, які знаходяться на розгляді; петиції з відповіддю та всі петиції, що надійшли на сайт.  Найпопулярніші із звернень також відображаються на головній сторінці сайту, разом з інформацією, скільки вже зібрано голосів та скільки днів залишилось до завершення збору підписів по кожній петиції. Функція пошуку дозволить швидко знайти потрібне звернення, або Ви зможете знайти петиції за хронологічним порядком або популярністю. 
                        .sub
                            span 1.2
                            p.number На головній сторінці сайту Ви бачите кнопки швидкого доступу до трьох основних функцій, таких як знайти актуальну петицію яка Вас цікавить, знайти петицію під якою Ви вже поставили підпис, та створити новую петицію.Ви можете переглянути петиції, по яким триває збір підписів; петиції, які знаходяться на розгляді; петиції з відповіддю та всі петиції, що надійшли на сайт.  Найпопулярніші із звернень також відображаються на головній сторінці сайту, разом з інформацією, скільки вже зібрано голосів та скільки днів залишилось до завершення збору підписів по кожній петиції. Функція пошуку дозволить швидко знайти потрібне звернення, або Ви зможете знайти петиції за хронологічним порядком або популярністю. 
                .line
                    p.num 2.
                    .stack
                        p.text Сьогодні, в епоху стрімкого розвитку інформаційних технологій, відкриваються нові можливості для забезпечення ефективної участі громадськості в процесах управління, як на місцевому, так і на загальнодержавному рівнях. Саме на це спрямована робота порталу «Електронні консультації», який створено в нашому місті. 
                        .sub
                            span 2.1
                            p.number На головній сторінці сайту Ви бачите кнопки швидкого доступу до трьох основних функцій, таких як знайти актуальну петицію яка Вас цікавить, знайти петицію під якою Ви вже поставили підпис, та створити новую петицію.Ви можете переглянути петиції, по яким триває збір підписів; петиції, які знаходяться на розгляді; петиції з відповіддю та всі петиції, що надійшли на сайт.  Найпопулярніші із звернень також відображаються на головній сторінці сайту, разом з інформацією, скільки вже зібрано голосів та скільки днів залишилось до завершення збору підписів по кожній петиції. Функція пошуку дозволить швидко знайти потрібне звернення, або Ви зможете знайти петиції за хронологічним порядком або популярністю. 
                        .sub
                            span 2.2
                            p.number На головній сторінці сайту Ви бачите кнопки швидкого доступу до трьох основних функцій, таких як знайти актуальну петицію яка Вас цікавить, знайти петицію під якою Ви вже поставили підпис, та створити новую петицію.Ви можете переглянути петиції, по яким триває збір підписів; петиції, які знаходяться на розгляді; петиції з відповіддю та всі петиції, що надійшли на сайт.  Найпопулярніші із звернень також відображаються на головній сторінці сайту, разом з інформацією, скільки вже зібрано голосів та скільки днів залишилось до завершення збору підписів по кожній петиції. Функція пошуку дозволить швидко знайти потрібне звернення, або Ви зможете знайти петиції за хронологічним порядком або популярністю. 
                       

            .right
                .statistic
                    p.text Кількість зареєстрованих звернень: 
                    p.counter 6 416
                    p.text Виконано з початку роботи:
                    p.counter 13 570
                    p.text Виконано за останні 30 днів:
                    p.counter 135
                    p.text Кількість заявок в обробці:
                    p.counter 564
                    a(href="#") Написати звернення
        