section.news_tabs_block
    .container
        p.header Новини програми
        .news_space
            .wrapper
                .news__item
                    .img(style="background-image:url('assets/img/content/image1.png')")
                    p.head Старт кампанії щодо детінізації ринку правці
                    p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                    .line
                        .views
                            img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                            p 653
                        p.news Новини
                        p.data 24.07.2018 - 14:08
                .news__item
                    .img(style="background-image:url('assets/img/content/image2.png')")
                    p.head Умови призначення та виплати особам, що надають соціальні послуги
                    p.text Управління соціального захисту населення Покровської міської ради Донецької області доводить до відома громадян інформацію
                    .line
                        .views
                            img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                            p 653
                        p.news Новини
                        p.data 24.07.2018 - 14:08
                .news__item
                    .img(style="background-image:url('assets/img/content/image3.png')")
                    p.head Енергоощадні субсидіанти отримають грошову винагороду від держави
                    p.text Енергоощадні субсидіанти отримають грошову винагороду від держави, - інформаційний вісник Уряду.
                    .line
                        .views
                            img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                            p 653
                        p.news Новини
                        p.data 24.07.2018 - 14:08
        a(href="#").all__news Завантажити ще
