@media (max-width: 991px) {

  .inform_block .line .appeal__part{
    max-width: inherit;
    padding: 14px 15px 23px 15px;
  }
  .news_tabs_block  .news_space .news__item{
    width: 100%;
    margin-bottom: 45px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
