section.include_program_block
    .container
        .bread_crumbs_block
            a(href="#") Головна
            a(href="#") Долучітися
        p.header Долучітися до програми
        .text
            p Кожен громадянин, якому не байдужа безпека нашого міста може приєднатися до безпечної громаді Покровська та підвищити загальний рівень правопорядку і безпеки в місті додавши свою веб камеру яка виходить на вулиці міста для громадського доступу, інформуванні жителів і гостей міста про безопстності на вулицях, стан транспортних потоків на ключових перехрестях міста.
            p Для цього ознайомтеся з інструкцією і заповніть форму, яка знаходиться нижче. Після схвалення модератором Вашої заявки, вона стане доступна для громадського доступу нашої громади.
        .link
            a(href="#").line
                p Декларація про майно, доходи, витрати і зобов'язання фінансового характеру 2018
        .form
            form(method="post")

                .line
                    input(placeholder="IP адреса камери, наприклад, 192.168.1.100").inp
                    select
                        option Тип камери
                        option Тип камери
                input(placeholder="Адреса розташування камери").inp
                .line
                    input(placeholder="Ваше Iм'я").inp
                    input(placeholder="E-mail").inp
                .line
                    #map_add
                    p.text Виберіть об'єкт на карті. Якщо ви залишите адрес не заповненими, то він буде автоматично згенеровані з вашого місця розташування
                .submit
                    label(for="143")
                        input(type="checkbox" id="143")
                        p Я згоден з правилами звернень громадян та обробки моїх даних
                    button(type="submit") Додати камеру

