
@media(max-width: 767px) {
    .include_program_block .form .line{
        flex-direction: column;
        .inp{
            width: 100%;
        }
        .jq-selectbox.jqselect{
            width: 100%;
        }
    }
    .include_program_block .form .text{
        max-width: 300px;
        margin-bottom: 15px;
    }
}
