section.appeal_block
    .container
        .box
            .statistic
                p.text Кількість зареєстрованих звернень: 
                p.counter 6 416
                p.text Виконано з початку роботи:
                p.counter 13 570
                p.text Виконано за останні 30 днів:
                p.counter 135
                p.text Кількість заявок в обробці:
                p.counter 564
            .information
                p Ми завжди готові проявити участь і допомогти тим, кому дійсно потрібна допомога.
                a(href="#") Написати звернення