section.news_list_block
    .container
        .bread_crumbs_block
            a(href="#") Головна
            a(href="#") Новини
            a(href="#") Останні
        .tabs
            .line
                p.header Новини
                ul.tabs_caption
                    li.active Усі новини
                    li Політика
                    li Право
                    li Економіка
            .tabs_item.active
                .news_space
                    .wrapper
                        .news__item
                            .img(style="background-image:url('assets/img/content/image2.png')")
                            p.head Старт кампанії щодо детінізації ринку правці
                            p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                            .line
                                .views
                                    img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                    p 653
                                p.news Новини
                                p.data 24.07.2018 - 14:08

                        .news__item
                            .img(style="background-image:url('assets/img/content/image2.png')")
                            p.head Старт кампанії щодо детінізації ринку правці
                            p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                            .line
                                .views
                                    img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                    p 653
                                p.news Новини
                                p.data 24.07.2018 - 14:08

                        .news__item
                            .img(style="background-image:url('assets/img/content/image2.png')")
                            p.head Старт кампанії щодо детінізації ринку правці
                            p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                            .line
                                .views
                                    img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                    p 653
                                p.news Новини
                                p.data 24.07.2018 - 14:08

                        .news__item
                            .img(style="background-image:url('assets/img/content/image2.png')")
                            p.head Старт кампанії щодо детінізації ринку правці
                            p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                            .line
                                .views
                                    img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                    p 653
                                p.news Новини
                                p.data 24.07.2018 - 14:08

                        .news__item
                            .img(style="background-image:url('assets/img/content/image2.png')")
                            p.head Старт кампанії щодо детінізації ринку правці
                            p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                            .line
                                .views
                                    img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                    p 653
                                p.news Новини
                                p.data 24.07.2018 - 14:08

                        .news__item
                            .img(style="background-image:url('assets/img/content/image2.png')")
                            p.head Старт кампанії щодо детінізації ринку правці
                            p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                            .line
                                .views
                                    img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                    p 653
                                p.news Новини
                                p.data 24.07.2018 - 14:08

                        .news__item
                            .img(style="background-image:url('assets/img/content/image2.png')")
                            p.head Старт кампанії щодо детінізації ринку правці
                            p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                            .line
                                .views
                                    img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                    p 653
                                p.news Новини
                                p.data 24.07.2018 - 14:08

                        .news__item
                            .img(style="background-image:url('assets/img/content/image2.png')")
                            p.head Старт кампанії щодо детінізації ринку правці
                            p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                            .line
                                .views
                                    img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                    p 653
                                p.news Новини
                                p.data 24.07.2018 - 14:08

                        .news__item
                            .img(style="background-image:url('assets/img/content/image2.png')")
                            p.head Старт кампанії щодо детінізації ринку правці
                            p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                            .line
                                .views
                                    img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                    p 653
                                p.news Новини
                                p.data 24.07.2018 - 14:08

                        .news__item
                            .img(style="background-image:url('assets/img/content/image2.png')")
                            p.head Старт кампанії щодо детінізації ринку правці
                            p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                            .line
                                .views
                                    img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                    p 653
                                p.news Новини
                                p.data 24.07.2018 - 14:08

                        .news__item
                            .img(style="background-image:url('assets/img/content/image2.png')")
                            p.head Старт кампанії щодо детінізації ринку правці
                            p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                            .line
                                .views
                                    img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                    p 653
                                p.news Новини
                                p.data 24.07.2018 - 14:08

                        .news__item
                            .img(style="background-image:url('assets/img/content/image2.png')")
                            p.head Старт кампанії щодо детінізації ринку правці
                            p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                            .line
                                .views
                                    img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                    p 653
                                p.news Новини
                                p.data 24.07.2018 - 14:08

                        .news__item
                            .img(style="background-image:url('assets/img/content/image2.png')")
                            p.head Старт кампанії щодо детінізації ринку правці
                            p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                            .line
                                .views
                                    img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                    p 653
                                p.news Новини
                                p.data 24.07.2018 - 14:08

                        .news__item
                            .img(style="background-image:url('assets/img/content/image2.png')")
                            p.head Старт кампанії щодо детінізації ринку правці
                            p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                            .line
                                .views
                                    img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                    p 653
                                p.news Новини
                                p.data 24.07.2018 - 14:08

                        .news__item
                            .img(style="background-image:url('assets/img/content/image2.png')")
                            p.head Старт кампанії щодо детінізації ринку правці
                            p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                            .line
                                .views
                                    img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                    p 653
                                p.news Новини
                                p.data 24.07.2018 - 14:08

                        .news__item
                            .img(style="background-image:url('assets/img/content/image2.png')")
                            p.head Старт кампанії щодо детінізації ринку правці
                            p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                            .line
                                .views
                                    img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                    p 653
                                p.news Новини
                                p.data 24.07.2018 - 14:08

                        .news__item
                            .img(style="background-image:url('assets/img/content/image2.png')")
                            p.head Старт кампанії щодо детінізації ринку правці
                            p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                            .line
                                .views
                                    img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                    p 653
                                p.news Новини
                                p.data 24.07.2018 - 14:08

                        .news__item
                            .img(style="background-image:url('assets/img/content/image2.png')")
                            p.head Старт кампанії щодо детінізації ринку правці
                            p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                            .line
                                .views
                                    img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                    p 653
                                p.news Новини
                                p.data 24.07.2018 - 14:08
                include ../pagination_block/index
            .tabs_item
            .tabs_item
            .tabs_item
