section.news_list_block
    .container
        .bread_crumbs_block
            a(href="#") Головна
            a(href="#") Новини
            a(href="#") Останні
        p.header Новини
            .news_space
                .wrapper
                    a(href="#").news__item
                        .img(style="background-image:url('assets/img/content/image2.png')")
                        .line
                            p.data 24.07.2018 - 14:08
                            .views
                                img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                p 653
                        p.head Крига скресла? Мінсоц говорить про забезпечення пенсій громадян ТОТ без довідки ВПО
                    a(href="#").news__item
                        .img(style="background-image:url('assets/img/content/image2.png')")
                        .line
                            p.data 24.07.2018 - 14:08
                            .views
                                img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                p 653
                        p.head Крига скресла? Мінсоц говорить про забезпечення пенсій громадян ТОТ без довідки ВПО
                    a(href="#").news__item
                        .img(style="background-image:url('assets/img/content/image2.png')")
                        .line
                            p.data 24.07.2018 - 14:08
                            .views
                                img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                p 653
                        p.head Крига скресла? Мінсоц говорить про забезпечення пенсій громадян ТОТ без довідки ВПО
                    a(href="#").news__item
                        .img(style="background-image:url('assets/img/content/image2.png')")
                        .line
                            p.data 24.07.2018 - 14:08
                            .views
                                img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                p 653
                        p.head Крига скресла? Мінсоц говорить про забезпечення пенсій громадян ТОТ без довідки ВПО
                    a(href="#").news__item
                        .img(style="background-image:url('assets/img/content/image2.png')")
                        .line
                            p.data 24.07.2018 - 14:08
                            .views
                                img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                p 653
                        p.head Крига скресла? Мінсоц говорить про забезпечення пенсій громадян ТОТ без довідки ВПО
                    a(href="#").news__item
                        .img(style="background-image:url('assets/img/content/image2.png')")
                        .line
                            p.data 24.07.2018 - 14:08
                            .views
                                img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                p 653
                        p.head Крига скресла? Мінсоц говорить про забезпечення пенсій громадян ТОТ без довідки ВПО
                    a(href="#").news__item
                        .img(style="background-image:url('assets/img/content/image2.png')")
                        .line
                            p.data 24.07.2018 - 14:08
                            .views
                                img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                p 653
                        p.head Крига скресла? Мінсоц говорить про забезпечення пенсій громадян ТОТ без довідки ВПО
                    a(href="#").news__item
                        .img(style="background-image:url('assets/img/content/image2.png')")
                        .line
                            p.data 24.07.2018 - 14:08
                            .views
                                img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                p 653
                        p.head Крига скресла? Мінсоц говорить про забезпечення пенсій громадян ТОТ без довідки ВПО
                    a(href="#").news__item
                        .img(style="background-image:url('assets/img/content/image2.png')")
                        .line
                            p.data 24.07.2018 - 14:08
                            .views
                                img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                                p 653
                        p.head Крига скресла? Мінсоц говорить про забезпечення пенсій громадян ТОТ без довідки ВПО





