section.banner_block
    .container
        .header__help
            .header__help--title Допомога тим, хто її потребує
            .header__help--text Ми вважаємо, що у кожного повинен бути будинок, в якому людина відчуває себе в безпеці.
            a(href="#") Як це працює?
            .header__mainchair
                .header__mainchair--portrait
                    .mainchair__portrait--picture
                        img(src="assets/img/content/mainchair-photo.png", alt="mainchair portrait")
                    .mainchair__portrait--flag
                        img(src="assets/img/content/line.png", alt="mainchair flag")
                    .mainchair__portrait--name Руслан Требушкин
                .header__mainchair--speech
                    .header__mainchair--title За ініціативою покровського міского голови
                    .header__mainchair--text Щиро вітаю Вас, шановні громадяни, на офіційній веб-сторінці нашого нового порталу. Сподіваюся, що Ви знайдете тут для себе все, що допоможе вирішити проблеми, які стосуються життєдіяльності нашого рідного міста та отримаєте необхідну Вам інформацію. 
            