section.news_next_block
    .container
        .bread_crumbs_block
            a(href="#") Головна
            a(href="#") Новини
            a(href="#") Листопад 29

        .line
            .__left
                .header__entity(style="background-image:url('assets/img/content/image2.png')")
                  p Кібербезпека для малих і дорослих: як захистити себе в Інтернеті
                .text
                    p За її словами, учасники дізнаються не лише як допомогти собі, а й як підтримати друзів. Тих, хто переживає кризу, замикається і відсторонюється від родини.
                    .quote
                      p «Під час тренінгу йтиметься про психологію бою, про те, як змінюється людина після війни – її сприйняття світу, пріоритети, відносини з іншими. Учасники зможуть краще зрозуміти себе і своїх близьких», – розповіла начальник управління з питань учасників АТО ДонВЦОДА Наталія Шуліка.
                    p <strong>До 2015 року тут була так звана «сіра зона».</strong>
                    p У Донецькій облдержадміністрації відбудеться зустріч із всесвітньо відомим американським психологом Френком П’юселіком. Він розповість про соціальну адаптацію ветеранів – як внутрішню силу, отриману на війні, перетворити на особистий успіх. Про це повідомила начальник управління допомоги учасникам АТО ДонВЦОДА Наталія Шуліка.
                    p «Під час тренінгу йтиметься про психологію бою, про те, як змінюється людина після війни – її сприйняття світу, пріоритети, відносини з іншими. Учасники зможуть краще зрозуміти себе і своїх близьких», – розповіла начальник управління з питань учасників АТО ДонВЦОДА Наталія Шуліка.
                    p За її словами, учасники дізнаються не лише як допомогти собі, а й як підтримати друзів. Тих, хто переживає кризу, замикається і відсторонюється від родини.
                    p На зустріч із психологам запрошують учасників АТО, ветеранів, членів їхніх родин. Цікаво буде й волонтерам, психологам, соцпрацівникам. Організатори обіцяють атмосферу поваги та глибокої вдячності.
                .socials
                    p Поширити у соціальних мережах:
                    a(href='#')
                        i.fab.fa-facebook-f
                    a(href='#')
                        i.fab.fa-twitter
            .__right
                p.header Останнi новини
                .news__part
                    a(href="#").__item
                        p.time 16:43
                        p.text Головною «родзинкою» різдвяного балу-2018 стане танцювальний мікс
                    a(href="#").__item
                        p.time 16:43
                        p.text Головною «родзинкою» різдвяного балу-2018 стане танцювальний мікс
                    a(href="#").__item
                        p.time 16:43
                        p.text Головною «родзинкою» різдвяного балу-2018 стане танцювальний мікс
                    a(href="#").__item
                        p.time 16:43
                        p.text Головною «родзинкою» різдвяного балу-2018 стане танцювальний мікс
                p.header.center Опитування
                .poll__part
                    p.sub__head Дуже довге запитання на яке потріба гарна відповідь?
                    .content
                        .line
                            label(for="321") Вариант А
                                input(type="checkbox" id="321")
                            p.progress
                                span(style="width:25%")
                            p.qty 25 %
                        .line
                            label(for="322") Вариант А
                                input(type="checkbox" id="322")
                            p.progress
                                span(style="width:25%")
                            p.qty 25 %
                        .line
                            label(for="323") Вариант А
                                input(type="checkbox" id="323")
                            p.progress
                                span(style="width:25%")
                            p.qty 25 %
                        .line
                            p.data Триває до 08/02/2019
                            a(href="#").link Усі опитування

