section.login_block
    .container
        .bread_crumbs_block
            a(href="#") Головна
            a(href="#") Вхід
        p.header Вхiд
        .entity
            p.sub_header Увійдіть у свій обліковий запис
            form(method='')
                input(placeholder="Пошта")
                input(placeholder="Пароль" type="password")
                .line
                    label(for="1")
                        input(type="checkbox" id="1")
                        p Запам'ятати мене
                    a(href="#").forget Забули пароль?
                button(type="submit") Вхід
                a(href="#").link Увійти, в інший обліковий запис
