section.similar_news_block
    .container
        p.header Новини
        .news_place
            a(href="#").__item
                .img(style="background-image:url('assets/img/content/image2.png')")
                p.head Старт кампанії щодо детінізації ринку правці
                p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                .line
                    .views
                        img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                        p 653
                    p.news Новини
                    p.data 24.07.2018 - 14:08
            a(href="#").__item
                .img(style="background-image:url('assets/img/content/image2.png')")
                p.head Старт кампанії щодо детінізації ринку правці
                p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                .line
                    .views
                        img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                        p 653
                    p.news Новини
                    p.data 24.07.2018 - 14:08
            a(href="#").__item
                .img(style="background-image:url('assets/img/content/image2.png')")
                p.head Старт кампанії щодо детінізації ринку правці
                p.text У міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників
                .line
                    .views
                        img(src="assets/img/minified-svg/eye.svg" alt="eye" width="25" height="27")
                        p 653
                    p.news Новини
                    p.data 24.07.2018 - 14:08
