section.protect_block
    .container
        .line
            .__left
                p.header На варті<br> вашої безпеки
                p.text Тільки в цьому році в поліції було організовано понад 2 000 превентивних заходів щодо запобігання злочинів на території нашого міста. А 25% лічого складу проходило стажування в країнах партнерах для підвищення рівня кваліфікації.
                a(href="#").link Дізнатися більше

            .__right
                img(src="assets/img/content/guard.png" srcset="assets/img/content/guard@2x.png 2x, assets/img/content/guard@3x.png 3x" alt="pic")
