.protect_block{
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 70px;

  .__left{
      max-width: 455px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .header{
          color: #3b4256;
          font-size: 32px;
          font-weight: 700;
          margin-bottom: 15px;
      }
      .text{
          color: #71828a;
          font-size: 16px;
          margin-bottom: 30px;
      }
      .link{
          display: block;
          margin-right: auto;
          max-width: 150px;
          margin-left: 0;
          text-align: left;
          font-size: 16px;
          font-weight: 600;
          color: #0a41b8;
          text-decoration: none;
          padding-right: 32px;
          position: relative;
          &:before{
              content: '';
              width: 25px;
              height: 25px;
              background-image: url("../img/minified-svg/arrow-round_b.svg");
              background-size: cover;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
          }
      }
  }
  .__right{
      padding-right: 50px;
    img{
        width: 100%;
        height: auto;
        max-width: 450px;
    }
  }
}
