section.news_item_block
    .container
        .bread_crumbs_block
            a(href="#") Головна
            a(href="#") Лікарні
            a(href="#") Комунальне підприємство «Центр первинної медико-санітарної допомоги» №2
        p.header Комунальне підприємство «Центр первинної медико-санітарної допомоги» №2
        .line
            .__left
                .display_product
                    .img_slider(style="background-image:url('assets/img/content/image1.png')")
                    .img_slider(style="background-image:url('assets/img/content/image1.png')")
                    .img_slider(style="background-image:url('assets/img/content/image1.png')")
                    .img_slider(style="background-image:url('assets/img/content/image1.png')")
                .tabs_product
                    .img_slider(style="background-image:url('assets/img/content/image1.png')")
                    .img_slider(style="background-image:url('assets/img/content/image1.png')")
                    .img_slider(style="background-image:url('assets/img/content/image1.png')")
                    .img_slider(style="background-image:url('assets/img/content/image1.png')")
                    .img_slider(style="background-image:url('assets/img/content/image1.png')")
                    .img_slider(style="background-image:url('assets/img/content/image1.png')")
                .text
                    p Департамент екології та природних ресурсів є структурним підрозділом Донецької обласної державної адміністрації, якій підпорядковується голові Донецької обласної державної адміністрації, а також підзвітний і підконтрольний Міністерству екології та природних ресурсів України.
                    p Забезпечення в межах повноважень облдержадміністрації реалізації на території області державної політики у сферах охорони навколишнього природного середовища, та раціонального використання, відтворення та  охорони природних ресурсів поводження з відходами (крім поводження з радіоактивними відходами), пестицидами та агрохімікатами; екологічної безпеки, заповідної справи, формування, збереження та використання екологічної мережі. Департамент екології та природних ресурсів є структурним підрозділом Донецької обласної державної адміністрації, якій підпорядковується голові Донецької обласної державної адміністрації, а також підзвітний і підконтрольний Міністерству екології та природних ресурсів України.
            .__right
                .contact
                    .line
                        p Адреса
                        p вул. Європейська, 53А
                    .line
                        p Час роботи:
                        p пн-сб 08:00–20:00
                    .line
                        p Телефон:
                        p +38 (06239) 2-24-65

                #contact_map
