@media (max-width: 1200px) {
    .news_item_block .__left{
        max-width: 629px;
    }
    .news_item_block .__right{
        max-width: 307px;
    }
}
@media (max-width: 991px) {
    .news_item_block .__left{
        max-width: inherit;
        overflow: hidden;
    }
    .news_item_block .__right{
        max-width: inherit;
    }
    .news_item_block > .container > .line{
        flex-direction: column;
    }
    .news_item_block .__right .contact{
        width: 100%;
    }
}
@media (max-width: 767px) {
    .news_item_block .__left .tabs_product .img_slider{
        height: 70px;
    }
    .news_item_block .__left .tabs_product .slick-next{
        right: -14%;
    }
}
