section.questions_block
    .container
        p.header Залишились запитання?
        .question_list
            a(href="#").__item
                p.quest Як я можу дізнатися, чи безпечно буде на вулиці коли я буду там з дитиною?
                p.link Отримати відповідь
            a(href="#").__item
                p.quest Як я можу допомогти виявлети та запобігти потенційним загрозам в нашому мiстi?
                p.link Отримати відповідь
            a(href="#").__item
                p.quest В разі загрози моему жіттю, в якіх місцях я можу почуватися в безпеці та знайти допомгу?
                p.link Отримати відповідь
            a(href="#").__item
                p.quest А як захистити себе та близьких від кіберзлоченів у інтернет просторi?
                p.link Отримати відповідь



