section.house_restored_block
    .container
        .bread_crumbs_block
            a(href="") Головна
            a(href="") Реєстр
            a(href="") Житло, що потребуе відновлення
        .box
            .left
                .header
                    .had
                        p.city Горлівка,
                        p.date 13.04.2017
                    .sub-had
                        p.street вул. Комарова, 38
                        .state
                            p.part_damaged Частково зруйноване
                            p.damaged Пошкоджене
                .map
                    #main_map
                    p.text В результаті прямих влучень снарядів частково зруйнований житловий будинок. У будинку частково зруйновані перекриття, постраждала сходовий майданчик, порушені системи тепло-, водо- і газопостачання. У квартирах будинку пошкоджені балкони, віконні рами, внутрішнє оздоблення, а також меблі та побутова техніка.
                .description
                    .lines
                        .start
                            p.text Початок робіт
                            p.year 07.11.2018
                        .end
                            p.text Завершення робіт
                            p.year 28.12.2018 
                        p.executor Пошук виконавця робіт
                    .money
                        .planed
                            p.text Заплановано коштів, тис. грн
                            p.year 6000 тис. грн,
                        .process_year
                            p.text Рік виконання
                            p.year 2018 
                    .finance
                        .source
                            p.source-had Джерело фінансування
                            p.source-sub-had Місцевий бюджет
                        .type   
                            p.type-had Тип фінансування
                            p.type-sub-had Cпец. Фонд відповідно до підпункту 4 пункту 24 розділу VI «Прикінцеві та перехідні положення» БК України
                    .images
                        img(src="assets/img/content/1101.jpg", alt="build")
                        img(src="assets/img/content/1101.jpg", alt="build")
                        img(src="assets/img/content/1101.jpg", alt="build")
                .social
                    p Поширити у соціальних мережах:
                    a(href='#')
                        i.fab.fa-facebook-f
                    a(href='#')
                        i.fab.fa-twitter
            .right
                .statistic
                    p.text Кількість зареєстрованих звернень: 
                    p.counter 6 416
                    p.text Виконано з початку роботи:
                    p.counter 13 570
                    p.text Виконано за останні 30 днів:
                    p.counter 135
                    p.text Кількість заявок в обробці:
                    p.counter 564
                    a(href="#") Написати звернення

                p.title Останнi новини
                .item
                    p.time 16:43 
                    p.description Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу
                .item
                    p.time 16:43 
                    p.description Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу
                .item
                    p.time 16:43 
                    p.description Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу
                