section.help_center_contact_block
    .container
        .bread_crumbs_block
            a(href="#") Головна 
            a(href="#") Контакти
        .box
            .left
                .title Контакти Центру допомоги <br> переселенцям та вiдновлення Донбассу
                .description Отримати юридичну консультацію та правову допомогу для тимчасово переміщених осіб або отримати будь-яку іншу інформацію ви можете звернувшись будь-яким зручним для Вас зособом, або особисто у Центрі.
                #main_map
                .hot_line
                    p.text Гаряча лінія:
                    p.number 0 800 509 62 01
                    p.time_table Пн-Пт, з 9.00 до 18.00
                .middle
                    .address
                        p.text Адреса: 
                        p.place Україна, Крамоторськ, вул. Шеченка, 8 
                    .contact
                        p.text Контакти прес-служби:
                        p.number +38 062 500 62 14; 
                        p.number +38 062 500 62 13 (факс);
                        a(href="#") press@fond-name.gov.ua
                .other
                    p.text Для іншої кореспонденції:
                    p.number +38 062 500 62 12; 
                    a(href="#") help@fond-name.gov.ua  

            .right
                .statistic
                    p.text Кількість зареєстрованих звернень: 
                    p.counter 6 416
                    p.text Виконано з початку роботи:
                    p.counter 13 570
                    p.text Виконано за останні 30 днів:
                    p.counter 135
                    p.text Кількість заявок в обробці:
                    p.counter 564
                    a(href="#") Написати звернення
            


