section.cams_list_block
    .container
        .bread_crumbs_block
            a(href="#") Головна
            a(href="#") Відеокамери міста
        .tabs
            .line
                p.header Веб камери міста
                ul.tabs_caption
                    li.active Веб камери міста
                    li Останні додані
                    li На дорозі
                    li Зони відпочінку
            .tabs_item.active
                .camera__space
                    a(href="#").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="#").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="#").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="#").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="#").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="#").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="#").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="#").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="#").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="#").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="#").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="#").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="#").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="#").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="#").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="#").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="#").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="#").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                a(href="javascript:void(0);" target="_blank").all__news Завантажити ще
            .tabs_item
            .tabs_item
            .tabs_item
