@media (max-width: 1200px) {
    .cams_list_block .tabs .header{
        max-width: 465px;
    }
}
@media (max-width: 991px) {
    .cams_list_block .tabs .tabs_item .camera__space .__item{
        width: calc(50% - 15px);
    }
    .cams_list_block .tabs > .line{
        flex-direction: column;
    }
    .cams_list_block .tabs .tabs_caption{
        justify-content: flex-start;
    }
}
@media (max-width: 767px) {
    .cams_list_block .tabs .tabs_item .camera__space .__item{
        width: 100%;
    }
}
