section.base_block
    .container
        .bread_crumbs_block
            a(href="#") Головна
            a(href="#") Нормативно-правова база
            a(href="#") Закон про отримання довідки ТПО
        p.title Нормативно-правова база
        .box
            .left
                .item
                    .top
                        p.text ВПЛ: статус, выплаты. 
                        p.date 5 марта 2017
                    p.description Распоряжение Кабинета Министров Украины от 14 мая 2015 № 491-р «О погашении кредиторской задолженности по возмещению расходов, связанных с проведением частичной оплаты стоимости временного проживания граждан, перемещаемых с временно оккупированной территории и района проведения антитеррористической операции»
                .item
                    .top
                        p.text ВПЛ: статус, выплаты. 
                        p.date 5 марта 2017
                    p.description Распоряжение Кабинета Министров Украины от 14 мая 2015 № 491-р «О погашении кредиторской задолженности по возмещению расходов, связанных с проведением частичной оплаты стоимости временного проживания граждан, перемещаемых с временно оккупированной территории и района проведения антитеррористической операции»
                .item
                    .top
                        p.text ВПЛ: статус, выплаты. 
                        p.date 5 марта 2017
                    p.description Распоряжение Кабинета Министров Украины от 14 мая 2015 № 491-р «О погашении кредиторской задолженности по возмещению расходов, связанных с проведением частичной оплаты стоимости временного проживания граждан, перемещаемых с временно оккупированной территории и района проведения антитеррористической операции»
                .item
                    .top
                        p.text ВПЛ: статус, выплаты. 
                        p.date 5 марта 2017
                    p.description Распоряжение Кабинета Министров Украины от 14 мая 2015 № 491-р «О погашении кредиторской задолженности по возмещению расходов, связанных с проведением частичной оплаты стоимости временного проживания граждан, перемещаемых с временно оккупированной территории и района проведения антитеррористической операции»
                .item
                    .top
                        p.text ВПЛ: статус, выплаты. 
                        p.date 5 марта 2017
                    p.description Распоряжение Кабинета Министров Украины от 14 мая 2015 № 491-р «О погашении кредиторской задолженности по возмещению расходов, связанных с проведением частичной оплаты стоимости временного проживания граждан, перемещаемых с временно оккупированной территории и района проведения антитеррористической операции»
                .item
                    .top
                        p.text ВПЛ: статус, выплаты. 
                        p.date 5 марта 2017
                    p.description Распоряжение Кабинета Министров Украины от 14 мая 2015 № 491-р «О погашении кредиторской задолженности по возмещению расходов, связанных с проведением частичной оплаты стоимости временного проживания граждан, перемещаемых с временно оккупированной территории и района проведения антитеррористической операции»
                .item
                    .top
                        p.text ВПЛ: статус, выплаты. 
                        p.date 5 марта 2017
                    p.description Распоряжение Кабинета Министров Украины от 14 мая 2015 № 491-р «О погашении кредиторской задолженности по возмещению расходов, связанных с проведением частичной оплаты стоимости временного проживания граждан, перемещаемых с временно оккупированной территории и района проведения антитеррористической операции»
                .item
                    .top
                        p.text ВПЛ: статус, выплаты. 
                        p.date 5 марта 2017
                    p.description Распоряжение Кабинета Министров Украины от 14 мая 2015 № 491-р «О погашении кредиторской задолженности по возмещению расходов, связанных с проведением частичной оплаты стоимости временного проживания граждан, перемещаемых с временно оккупированной территории и района проведения антитеррористической операции»
                .item
                    .top
                        p.text ВПЛ: статус, выплаты. 
                        p.date 5 марта 2017
                    p.description Распоряжение Кабинета Министров Украины от 14 мая 2015 № 491-р «О погашении кредиторской задолженности по возмещению расходов, связанных с проведением частичной оплаты стоимости временного проживания граждан, перемещаемых с временно оккупированной территории и района проведения антитеррористической операции»
                .item
                    .top
                        p.text ВПЛ: статус, выплаты. 
                        p.date 5 марта 2017
                    p.description Распоряжение Кабинета Министров Украины от 14 мая 2015 № 491-р «О погашении кредиторской задолженности по возмещению расходов, связанных с проведением частичной оплаты стоимости временного проживания граждан, перемещаемых с временно оккупированной территории и района проведения антитеррористической операции»
            
            .right
                .statistic
                    p.text Кількість зареєстрованих звернень: 
                    p.counter 6 416
                    p.text Виконано з початку роботи:
                    p.counter 13 570
                    p.text Виконано за останні 30 днів:
                    p.counter 135
                    p.text Кількість заявок в обробці:
                    p.counter 564
                    a(href="#") Написати звернення
