section.camera_block
    .container
        .line
            .__left
                .camera__space
                    a(href="https://www.youtube.com/watch?v=Lnh4ZHiBA8o").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="https://www.youtube.com/watch?v=Lnh4ZHiBA8o").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="https://www.youtube.com/watch?v=Lnh4ZHiBA8o").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
                    a(href="https://www.youtube.com/watch?v=Lnh4ZHiBA8o").__item
                        .img(style="background-image:url('assets/img/content/cam.jpg')")
                        p.text вул. Шевченка
            .__right
                p.header Більше ніж 1500 камер<br> у нашому місті
                p.text В рамках програми по всьому місту було встановлено понад 1500 камер задля виявлення та запобігаті потенційнім загроза на важлівіх об'єктах міста, об'єктах благоустрою та комунальної сфери, швидкого реагування та централізованого управління жіттєдіяльністю міста.
                a(href="#").link Усі відеокамери міста

