
@media(max-width: 1200px) {
    .camera_block .line{
        flex-direction: column-reverse;
    }
    .camera_block .__right{
        margin-bottom: 30px;
    }
    .camera_block .__right{
        max-width: inherit;
    }
}
@media(max-width: 991px) {
    .camera_block .__left .camera__space{
        flex-direction: column;
        align-items: center;
    }
    .camera_block .__left .camera__space .__item{
        max-width: 265px;
    }
    .camera_block .__left:before{
        display: none;
    }
}


