section.buildings_block
    .container
        .buildings_place
            .__item
                .img(style="background-image:url('assets/img/content/image2.png')")
                .wrapper
                    p.header ЦПМСД №3
                    .line
                        .__left
                            .contact
                                .line
                                    p Адреса:
                                    p вул. Європейська, 53А
                                .line
                                    p Час роботи:
                                    p пн-сб 08:00–20:00
                                .line
                                    p Телефон:
                                    p +38 (06239) 2-24-65<br>+38 (06239) 2-24-65
                        .__right
                            a(href="#").map Показати на мапі
                    a(href="#").link Переглянути
            .__item
                .img(style="background-image:url('assets/img/content/image2.png')")
                .wrapper
                    p.header ЦПМСД №3
                    .line
                        .__left
                            .contact
                                .line
                                    p Адреса:
                                    p вул. Європейська, 53А
                                .line
                                    p Час роботи:
                                    p пн-сб 08:00–20:00
                                .line
                                    p Телефон:
                                    p +38 (06239) 2-24-65<br>+38 (06239) 2-24-65
                        .__right
                            a(href="#").map Показати на мапі
                    a(href="#").link Переглянути
            .__item
                .img(style="background-image:url('assets/img/content/image2.png')")
                .wrapper
                    p.header ЦПМСД №3
                    .line
                        .__left
                            .contact
                                .line
                                    p Адреса
                                    p вул. Європейська, 53А
                                .line
                                    p Час роботи:
                                    p пн-сб 08:00–20:00
                                .line
                                    p Телефон:
                                    p +38 (06239) 2-24-65<br>+38 (06239) 2-24-65
                        .__right
                            a(href="#").map Показати на мапі
                    a(href="#").link Переглянути
            .__item
                .img(style="background-image:url('assets/img/content/image2.png')")
                .wrapper
                    p.header ЦПМСД №3
                    .line
                        .__left
                            .contact
                                .line
                                    p Адреса:
                                    p вул. Європейська, 53А
                                .line
                                    p Час роботи:
                                    p пн-сб 08:00–20:00
                                .line
                                    p Телефон:
                                    p +38 (06239) 2-24-65<br>+38 (06239) 2-24-65
                        .__right
                            a(href="#").map Показати на мапі
                    a(href="#").link Переглянути
            .__item
                .img(style="background-image:url('assets/img/content/image2.png')")
                .wrapper
                    p.header ЦПМСД №3
                    .line
                        .__left
                            .contact
                                .line
                                    p Адреса:
                                    p вул. Європейська, 53А
                                .line
                                    p Час роботи:
                                    p пн-сб 08:00–20:00
                                .line
                                    p Телефон:
                                    p +38 (06239) 2-24-65<br>+38 (06239) 2-24-65
                        .__right
                            a(href="#").map Показати на мапі
                    a(href="#").link Переглянути
            .__item
                .img(style="background-image:url('assets/img/content/image2.png')")
                .wrapper
                    p.header ЦПМСД №3
                    .line
                        .__left
                            .contact
                                .line
                                    p Адреса
                                    p вул. Європейська, 53А
                                .line
                                    p Час роботи:
                                    p пн-сб 08:00–20:00
                                .line
                                    p Телефон:
                                    p +38 (06239) 2-24-65<br>+38 (06239) 2-24-65
                        .__right
                            a(href="#").map Показати на мапі
                    a(href="#").link Переглянути
            .__item
                .img(style="background-image:url('assets/img/content/image2.png')")
                .wrapper
                    p.header ЦПМСД №3
                    .line
                        .__left
                            .contact
                                .line
                                    p Адреса:
                                    p вул. Європейська, 53А
                                .line
                                    p Час роботи:
                                    p пн-сб 08:00–20:00
                                .line
                                    p Телефон:
                                    p +38 (06239) 2-24-65<br>+38 (06239) 2-24-65
                        .__right
                            a(href="#").map Показати на мапі
                    a(href="#").link Переглянути
            .__item
                .img(style="background-image:url('assets/img/content/image2.png')")
                .wrapper
                    p.header ЦПМСД №3
                    .line
                        .__left
                            .contact
                                .line
                                    p Адреса:
                                    p вул. Європейська, 53А
                                .line
                                    p Час роботи:
                                    p пн-сб 08:00–20:00
                                .line
                                    p Телефон:
                                    p +38 (06239) 2-24-65<br>+38 (06239) 2-24-65
                        .__right
                            a(href="#").map Показати на мапі
                    a(href="#").link Переглянути
            .__item
                .img(style="background-image:url('assets/img/content/image2.png')")
                .wrapper
                    p.header ЦПМСД №3
                    .line
                        .__left
                            .contact
                                .line
                                    p Адреса
                                    p вул. Європейська, 53А
                                .line
                                    p Час роботи:
                                    p пн-сб 08:00–20:00
                                .line
                                    p Телефон:
                                    p +38 (06239) 2-24-65<br>+38 (06239) 2-24-65
                        .__right
                            a(href="#").map Показати на мапі
                    a(href="#").link Переглянути
