section.useful_links_block
    .container
        h3.head Корисні посилання
        .services__space
            a(href="#" target="_blank").__item
                .wrapper
                    img(src="assets/img/minified-svg/path-7306.svg" alt="ic" width="36" height="50")
                    .content
                        p Верховна Рада України
            a(href="#" target="_blank").__item
                .wrapper
                    img(src="assets/img/minified-svg/ukraine.svg" alt="ic" width="44" height="60")
                    .content
                        p Президент України
            a(href="#" target="_blank").__item
                .wrapper
                    img(src="assets/img/minified-svg/path-7306.svg" alt="ic" width="36" height="50")
                    p Кабінет Міністрів України
            a(href="#" target="_blank").__item
                .wrapper
                    img(src="assets/img/minified-svg/oda.svg" alt="ic" width="64" height="64")
                    .content
                        p Донецька ОДА
            a(href="#" target="_blank").__item
                .wrapper
                    img(src="assets/img/minified-svg/path-7306.svg" alt="ic" width="64" height="64")
                    .content
                        p Єдиний державний веб-портал відкритих даних
            a(href="#" target="_blank").__item
                .wrapper
                    img(src="assets/img/minified-svg/path-7306.svg" alt="ic" width="36" height="50")
                    .content
                        p Міністерство охорони здоров’я України
            a(href="#" target="_blank").__item
                .wrapper
                    img(src="assets/img/minified-svg/path-7306.svg" alt="ic" width="36" height="50")
                    .content
                        p Верховна Рада України
            a(href="#" target="_blank").__item
                .wrapper
                    img(src="assets/img/minified-svg/ukraine.svg" alt="ic" width="44" height="60")
                    .content
                        p Президент України
            a(href="#" target="_blank").__item
                .wrapper
                    img(src="assets/img/minified-svg/path-7306.svg" alt="ic" width="36" height="50")
                    p Кабінет Міністрів України
            a(href="#" target="_blank").__item
                .wrapper
                    img(src="assets/img/minified-svg/oda.svg" alt="ic" width="64" height="64")
                    .content
                        p Донецька ОДА
            a(href="#" target="_blank").__item
                .wrapper
                    img(src="assets/img/minified-svg/path-7306.svg" alt="ic" width="64" height="64")
                    .content
                        p Єдиний державний веб-портал відкритих даних
            a(href="#" target="_blank").__item
                .wrapper
                    img(src="assets/img/minified-svg/path-7306.svg" alt="ic" width="36" height="50")
                    .content
                        p Міністерство охорони здоров’я України
        a(href="javascript:void(0);" target="_blank").all__news Показати ще

