section.join_block
    .container
        .line
            .__left
                p.header Твое місто — безпечне місто
                p.text Будь хто з мешканців може долучитися до програми, та допомогти зробити наше місто безпечнішим
            .__right
                a(href="#") Долучітися до програми

