
@media(max-width: 991px) {
    .join_block .line{
        width: 100%;
    }
}
@media(max-width: 767px) {
    .join_block .line{
        flex-direction: column;
    }
    .join_block .__left{
        margin-bottom: 30px;
    }
}
