section.search_list_block
    .container
        p.header Реєстр житла, що потребуе відновлення
        form(method="").line.grey
            select
                option Категорія
                option Категорія
                option Категорія
            input(placeholder="Адреса")
            button(type="submit") Пошук
        .rezult__list
            a(href="#").__item
                .img(style="background-image:url('assets/img/content/image2.png')")
                .content
                    .head__entity
                        p.sub_head Частково зруйновано
                        p.head Красногоровка, ул. Восточная 8, кв. 11
                    .line
                        ._left
                          p.text Заплановано коштів, тис. грн
                          p.count 23344.474
                        ._right
                            p.text Дата ствoрення
                            p.count 13.04.2017

            a(href="#").__item
                .img(style="background-image:url('assets/img/content/image2.png')")
                .content
                    .head__entity
                        p.sub_head Частково зруйновано
                        p.head Красногоровка, ул. Восточная 8, кв. 11
                    .line
                        ._left
                            p.text Заплановано коштів, тис. грн
                            p.count 23344.474
                        ._right
                            p.text Дата ствoрення
                            p.count 13.04.2017
            a(href="#").__item
                .img(style="background-image:url('assets/img/content/image2.png')")
                .content
                    .head__entity
                        p.sub_head Частково зруйновано
                        p.head Красногоровка, ул. Восточная 8, кв. 11
                    .line
                        ._left
                            p.text Заплановано коштів, тис. грн
                            p.count 23344.474
                        ._right
                            p.text Дата ствoрення
                            p.count 13.04.2017
            a(href="#").__item
                .img(style="background-image:url('assets/img/content/image2.png')")
                .content
                    .head__entity
                        p.sub_head Частково зруйновано
                        p.head Красногоровка, ул. Восточная 8, кв. 11
                    .line
                        ._left
                            p.text Заплановано коштів, тис. грн
                            p.count 23344.474
                        ._right
                            p.text Дата ствoрення
                            p.count 13.04.2017
            a(href="#").__item
                .img(style="background-image:url('assets/img/content/image2.png')")
                .content
                    .head__entity
                        p.sub_head Частково зруйновано
                        p.head Красногоровка, ул. Восточная 8, кв. 11
                    .line
                        ._left
                            p.text Заплановано коштів, тис. грн
                            p.count 23344.474
                        ._right
                            p.text Дата ствoрення
                            p.count 13.04.2017
            a(href="#").__item
                .img(style="background-image:url('assets/img/content/image2.png')")
                .content
                    .head__entity
                        p.sub_head Частково зруйновано
                        p.head Красногоровка, ул. Восточная 8, кв. 11
                    .line
                        ._left
                            p.text Заплановано коштів, тис. грн
                            p.count 23344.474
                        ._right
                            p.text Дата ствoрення
                            p.count 13.04.2017
            a(href="#").__item
                .img(style="background-image:url('assets/img/content/image2.png')")
                .content
                    .head__entity
                        p.sub_head Частково зруйновано
                        p.head Красногоровка, ул. Восточная 8, кв. 11
                    .line
                        ._left
                            p.text Заплановано коштів, тис. грн
                            p.count 23344.474
                        ._right
                            p.text Дата ствoрення
                            p.count 13.04.2017
