section.howitwork_block
    .container
        p.title Як це працює?
        .slider
            .slider-item
                p Тимчасово переміщені осіби зазвичай переїжджають в нове місто в надії інтегруватися в місцеве співтовариство, щоб розпочати нове жіття. <br> <br>Їх проживання координується організаціями по допомогу переселенців.
            .slider-item
                 p Тимчасово переміщені осіби зазвичай переїжджають в нове місто в надії інтегруватися в місцеве співтовариство, щоб розпочати нове жіття. <br> <br>Їх проживання координується організаціями по допомогу переселенців.
            .slider-item
                p Тимчасово переміщені осіби зазвичаsй переїжджають в нове місто в надії інтегруватися в місцеве співтовариство, щоб розпочати нове жіття. <br> <br>Їх проживання координується організаціями по допомогу переселенців.
            