footer.stick
    .container
        .footer
            .pic
                img(src='assets/img/content/zp.png', alt='ua')
                //- img(src='assets/img/content/zp.png', alt='ua')
            .top_part
                .left_part
                    .wrapper
                    
                        ul
                            
                            li.had Покровський міський Центр допомоги переселенцям та відновлення Донбасу
                            
                    a(href="#").call_back Зворотній зв'язок
                .middle_part
                    ul
                        li.had Меню
                        li
                            a(href="#") Головна
                        li
                            a(href="#") Новини
                        li
                            a(href="#") Пільги та гарантії
                        li
                            a(href="#") Контакти
                .right_part
                    ul
                        li.had Пільги та гарантії
                        li
                            a(href="#") Отримання довідки ВПО
                        li
                            a(href="#") Пільги ВПО
                        li
                            a(href="#") Порядок оформлення 
                        li
                            a(href="#") Право ВПО на отримання житла
                        li
                            a(href="#") Санаторно-курортне лікування дітей-переселенців
                        li
                            a(href="#") Отримання одноразової грошової допомоги
            .middle_part
                a(href="#").visible
                    img(src="assets/img/content/accessibility-icon-big.png" alt="vis")
                    p Версія для людей з обмеженими можливостями
            .bottom_part
                .left_part
                    .brend
                        img(src="assets/img/content/bissoft-icon.png" alt="bis")
                        p Компанія «БІС-СОФТ»<br />Всі права захищені.
                .middle_part
                    img(src="assets/img/content/icon.png" alt="ic").icon
                    p Всі матеріали сайту доступні за ліцензією: Creative Commons «Attribution» 4.0 Всесвітня
                .right_part
                    .social
                        a(href='#')
                            i.fab.fa-facebook-f
                        a(href='#')
                            i.fab.fa-twitter
