section.last_news_block
    .container
        .bread_crumbs_block
            a(href="#") Головна 
            a(href="#") Новини
            a(href="#") Листопад 
            a(href="#") 29
        .box
            .left
                .banner
                    p Будні сірої зони: розповідь <br> шкільної вчительки
                p Наша співрозмовниця — відважна жінка, яка спілкується українською та не приховує своїх поглядів, хоча увесь час військового конфлікту живе біля передової. Ми не вважаємо за можливе розкривати її особисті дані, але передаємо її історію.
                .quota
                    p Біля Горлівки є покинуте училище, де знаходилася база так званих «ополченців». Там у підвалах тримали мого сина. Ми не спали всю ніч, вранці приїхали у це місце. До нас вийшов знайомий хлопчик, якого я добре знала. Вночі він був серед тих п’ятьох у масках, що приїздили до нас. Цей хлопець сказав: «Извините, ошибочка вышла». Син потім розповів, що його тримали у наручниках та допитували в цих підвалах. Дізналися, що наскаржився на сина мешканець сусіднього села, з яким він товаришував. Мав на сина якісь образи та хотів помститися. Згодом зізнався, що це був наклеп. А пізніше втік з «ополченія», кажуть, що поїхав до Росії.
                p.had До 2015 року тут була так звана «сіра зона».
                p Біля Горлівки є покинуте училище, де знаходилася база так званих «ополченців». Там у підвалах тримали мого сина. Ми не спали всю ніч, вранці приїхали у це місце. До нас вийшов знайомий хлопчик, якого я добре знала. Вночі він був серед тих п’ятьох у масках, що приїздили до нас. Цей хлопець сказав: «Извините, ошибочка вышла». Син потім розповів, що його тримали у наручниках та допитували в цих підвалах. Дізналися, що наскаржився на сина мешканець сусіднього села, з яким він товаришував. Мав на сина якісь образи та хотів помститися. Згодом зізнався, що це був наклеп. А пізніше втік з «ополченія», кажуть, що поїхав до Росії.Думаю, нам просто пощастило, що сина відпустили. Колись горлівські молоді люди порушили комендантську годину, пізно ввечері пили пиво біля кафе та гучно сміялися, то приїхали «ополченці», запхнули цих хлопців в багажник, вивезли до прудів на околиці, постріляли їм по колінках та кинули. Мати одного з хлопців, моя знайома, шукала сина всю ніч. Звісно, це стосувалося тільки громадянського населення, бо самим «ополченцям» все було дозволено – і випивати, і віджимати машини в людей. Зараз ми живемо фактично на передовій, ввечері я вже кілька разів виходила на вулицю, прислухалася. Після четвертої години відбуваються гучні обстріли з двох боків. Розумію, що це далеко від нас – десь кілометра три-чотири, але все одно напружує.
                .social
                    p Поширити у соціальних мережах:
                    a(href='#')
                        i.fab.fa-facebook-f
                    a(href='#')
                        i.fab.fa-twitter
                
            .right
                p.title Останнi новини
                .item
                    p.time 16:43 
                    p.description Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу
                .item
                    p.time 16:43 
                    p.description Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу
                .item
                    p.time 16:43 
                    p.description Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу
                .item
                    p.time 16:43 
                    p.description В ході обстрілу в ніч на 16 листопада в Донецькій області постраждали будинки мирних жителів в селищі Південне (під Торецькому).
                .item
                    p.time 16:43 
                    p.description Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу
                .item
                    p.time 16:43 
                    p.description Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу
                .item
                    p.time 16:43 
                    p.description Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу
                .item
                    p.time 16:43 
                    p.description Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу

        .bottom
            .item
                img(src="/assets/img/content/1101.jpg", alt="img news")
                .statistic
                    p.date 19.11.2018
                    .views
                        i.far.fa-eye
                        p 12 653
                p.description Платить по счетам: судьба кредитов после завершения АТО
                
            .item
                img(src="/assets/img/content/1101.jpg", alt="img news")
                .statistic
                    p.date 19.11.2018
                    .views
                        i.far.fa-eye
                        p 12 653
                p.description Платить по счетам: судьба кредитов после завершения АТО
                
            .item
                img(src="/assets/img/content/1101.jpg", alt="img news")
                .statistic
                    p.date 19.11.2018
                    .views
                        i.far.fa-eye
                        p 12 653
                p.description Платить по счетам: судьба кредитов после завершения АТО