extends _parent_template
block head
    +head(head.home)
    block style
        link(rel="stylesheet" type="text/css" href="assets/plugins/slick/slick/slick-theme.css")
        link(rel="stylesheet" type="text/css" href="assets/plugins/slick/slick/slick.css")
block content
    +header('#fff;')
    include ../components/banner_block/index
    include ../components/immigrant_block/index
    include ../components/news_block/index
    include ../components/appeal_block/index
    include ../components/objects_block/index
    include ../components/howitwork_block/index
    include ../components/contact_block/index
block script
    script(src="assets/plugins/slick/slick/slick.min.js")
    script.
        $(document).ready(function() {
            $('.slider').slick({
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                dots: true,
                autoplay: true,
                arrows: true,
            });
        });



