extends _parent_template
block head
    +head(head.home)
    block style
        link(rel="stylesheet" type="text/css" href="assets/plugins/slick/slick/slick-theme.css")
        link(rel="stylesheet" type="text/css" href="assets/plugins/slick/slick/slick.css")
block content
    include ../components/main_slider_block/index
    include ../components/banner_block/index
    include ../components/camera_block/index
    include ../components/poll_block/index
    include ../components/protect_block/index
    include ../components/news_tabs_block/index
    include ../components/questions_block/index
    include ../components/join_block/index
    include ../components/useful_links_block/index


block script
    script(src="assets/plugins/slick/slick/slick.min.js")
    script.
        $(document).ready(function() {
            $('.main_slider_block .main__slider').slick({
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: false,
            autoplay: true,
            arrows: false,
            });
        });
