extends _parent_template
block head
    +head(head.home)
block content
    +header()
    include ../components/house_restored_block/index
    include ../components/contact_block/index
block script
    script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBM123VIfYq9BKb7Amtd5MIO5_tQUEWFXU")
    script(src="assets/js/map2.js")