extends _parent_template
block head
    +head(head.home)
block content
    +header()
    .container
        .bread_crumbs_block
            a(href="#") Головна
            a(href="#") Реєстр
            a(href="#") Житло, що потребуе відновлення
    include ../components/search_list_block/index
    include ../components/pagination_block/index





