extends _parent_template
block head
    +head(head.index)
block content
    +header()
    section.nav__show-menu
        .container
            h1 Перелік сторінок
            ul
                li
                    a(href="Gov_Design_Help_Center_Donbass_People_Index.html" target="_blank") Gov_Design_Help_Center_Donbass_People_Indexx.html
                li
                    a(href="Gov_Design_Help_Center_Donbass_People_NPB.html" target="_blank") Gov_Design_Help_Center_Donbass_People_Index_Desktop_NPB.html
                li
                    a(href="Gov_Design_Help_Center_Donbass_People_NPB_Category.html" target="_blank") Gov_Design_Help_Center_Donbass_People_Index_Desktop_NPB_Category.html
                li
                    a(href="Gov_Design_Help_Center_Donbass_People_Form.html" target="_blank") Gov_Design_Help_Center_Donbass_People_Form.html
                li
                    a(href="Gov_Design_Help_Center_Donbass_People_News_Item.html" target="_blank") Gov_Design_Help_Center_Donbass_People_News_Item.html
                li
                    a(href="Gov_Design_Help_Center_Donbass_People_Reestr.html" target="_blank") Gov_Design_Help_Center_Donbass_People_Reestr.html
                li
                    a(href="Gov_Design_Help_Center_Donbass_People_Login.html" target="_blank") Gov_Design_Help_Center_Donbass_People_Login.html
                li
                    a(href="Gov_Design_Help_Center_Donbass_People_Reestr_Form.html" target="_blank") Gov_Design_Help_Center_Donbass_People_Reestr_Form.html
                li
                    a(href="Gov_Design_Help_Center_Donbass_People_Register.html" target="_blank") Gov_Design_Help_Center_Donbass_People_Register.html
                li
                    a(href="Gov_Design_Help_Center_Donbass_People_News_Category_Desktop.html" target="_blank") Gov_Design_Help_Center_Donbass_People_News_Category_Desktop.html
                li
                    a(href="Gov_Design_Help_Center_Donbass_People_Reestr_Desktop.html" target="_blank") Gov_Design_Help_Center_Donbass_People_Reestr_Desktop.html
                li
                    a(href="Gov_Design_Help_Center_Donbass_People_Contacts.html" target="_blank") Gov_Design_Help_Center_Donbass_People_Contacts.html



