.poll_block{
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 70px;
    .header{
        color: #3b4256;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 15px;
    }
  .__left{
      width: 100%;
      max-width: 778px;
      padding-left: 15px;
      position: relative;
      z-index: 5;

      .form{
          .name{
              border-radius: 4px;
              background-color: #f4f7fb;
              padding: 10px 16px;
              display: block;
              margin-bottom: 30px;
              .sub{
                  color: #848e99;
                  display: block;
                  background-color: transparent;
              }
              input{
                  width: 100%;
                  color: #3b4256;
                  font-size: 16px;
                  outline: none;
                  border: 0;
                  background-color:transparent;
              }
          }
          textarea{
              border-radius: 4px;
              background-color: #f4f7fb;
              padding: 20px 16px;
              display: block;
              margin-bottom: 30px;
              width: 100%;
              color: #3b4256;
              font-size: 16px;
              outline: none;
              border: 0;
              height: 136px;
              resize: none;
          }

          .text{
              max-width: 160px;
              width: 100%;
              margin-left: 15px;
              color: #848e99;
              line-height: 1.71;
          }
          .inp{
              border-radius: 4px;
              background-color: #f4f7fb;
              padding: 20px 16px;
              display: block;
              margin-bottom: 30px;
              width: 100%;
              color: #3b4256;
              font-size: 16px;
              outline: none;
              border: 0;
          }
          .line{
              .inp{
                  width: calc(50% - 15px);
              }
          }
          .submit{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-end;
              max-width: 660px;
              margin-right: 0;
              margin-left: auto;
              label{
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  cursor: pointer;

                  p{
                      font-size: 16px;
                      color: #3b4256;
                      margin-right: 15px;
                      max-width: 311px;
                  }
                  .jq-checkbox, .jq-radio{
                      background: #0c49cd;
                      min-width: 24px;
                      height: 24px;
                      border: 0;
                      box-shadow: none;
                      margin-right: 11px;
                  }
                  .jq-checkbox.checked .jq-checkbox__div{
                      width: 11px;
                      height: 6px;
                      margin: 7px 0 0 7px;
                      border-bottom: 2px solid #fff;
                      border-left: 2px solid #fff;
                  }
              }
              button{
                  background-color: #2d5ca6;
                  border-radius: 4px;
                  width: 100%;
                  max-width: 250px;
                  text-align: center;
                  font-weight: 600;
                  border: 0;
                  outline: none;
                  padding: 14px 0;
                  font-size: 12px;
                  letter-spacing: 1px;
                  text-transform: uppercase;
                  color: #f4f7fb;
                  cursor: pointer;
                  line-height: 20px;
                  transition: all ease 400ms;
                  &:hover{
                      background-color: #ffe358;
                      color: #3b4256;
                      transition: all ease 400ms;
                  }
              }
          }
      }
  }
  .__right{
      .header{
          text-align: center;
      }
      max-width: 360px;
      width: 100%;
      .poll__part{
          width: 100%;
          border-radius: 4px;
          background-color: #2d5ca6;
          padding: 22px 21px 15px 21px;
          margin-bottom: 30px;
          transition: all ease 400ms;
          .jq-checkbox{
              display: none;
          }
          .line{
              label{
                  padding-left: 0!important;
                  margin-bottom: 0!important;;
              }
          }
          &.vote{
              transition: all ease 400ms;
              .progress{
                  display: none;
              }
              .qty{
                  display: none;
              }
              .jq-checkbox{
                  display: block!important;
              }
              .line{
                  label{
                      padding-left: 40px!important;
                      margin-bottom: 16px!important;;
                  }
              }
          }

          .head{
              font-size: 32px;
              font-weight: 700;
              text-align: center;
              color: #3b4256;
              margin-bottom: 7px;
          }
          .sub__head{
              font-size: 18px;
              font-weight: 600;
              color: #fff;
              margin-bottom: 56px;
          }
          .line{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 16px;
              &:last-child{
                  margin-top: 45px;
                  margin-bottom: 0;
              }
              &.line:nth-child(1) span{
                  background-color: #f5a623;
              }
              &.line:nth-child(2) span{
                  background-color: #7ed321;
              }
              &.line:nth-child(3) span{
                  background-color: #ffffff;
              }
              .name{
                  font-size: 16px;
                  font-weight: 600;
                  color: #3b4256;
              }
              .progress{
                  width: 200px;
                  height: 8px;
                  overflow: hidden;
                  position: relative;
                  span{
                      position: absolute;
                      top: 0;
                      left: 0;
                      height: 8px;
                      border-radius: 15px;
                  }
              }
              .qty{
                  font-size: 18px;
                  font-weight: 600;
                  color: #848e99;
              }
              .data{
                  font-size: 16px;
                  color: #848e99;
              }
              .link{
                  display: block;
                  margin-right: 0;
                  margin-left: auto;
                  text-align: right;
                  font-size: 16px;
                  color: #dde1e6;
                  text-decoration: none;
                  padding-right: 32px;
                  position: relative;
                  &:before{
                      content: '';
                      width: 25px;
                      height: 25px;
                      background-image: url("../img/minified-svg/arrow-round.svg");
                      background-size: cover;
                      position: absolute;
                      right: 0;
                      top: 50%;
                      transform: translateY(-50%);
                  }
              }
              label{
                  font-size: 16px;
                  font-weight: 600;
                  color: #dde1e6;
                  position: relative;
                  padding-left: 40px;
                  margin-bottom: 16px;
                  transition: all ease 400ms;
                  &:hover{
                      color: #848e99;
                      cursor: pointer;
                      transition: all ease 400ms;
                      .jq-checkbox, .jq-radio{
                          border-color: #f4f7fb;;
                          transition: all ease 400ms;
                          display: none;
                      }
                  }
                  .jq-checkbox, .jq-radio{
                      transition: all ease 400ms;
                      background: #f4f7fb;
                      width: 24px;
                      height: 24px;
                      border: 1px solid #dde1e6;
                      box-shadow: none;
                      margin-right: 11px;
                      position: absolute;
                      left: 0;
                      top: 50%;
                      transform: translateY(-50%);
                      &.checked{
                          background: #0a41b8;
                          border-color: #0a41b8;
                      }
                  }
                  .jq-checkbox.checked .jq-checkbox__div{
                      width: 11px;
                      height: 6px;
                      margin: 6px 0 0 6px;
                      border-bottom: 2px solid #fff;
                      border-left: 2px solid #fff;
                  }
              }
          }
      }

  }
}
