
@media(max-width: 1200px) {
    .poll_block .__left{
        max-width: 629px;
    }
    .poll_block .__right{
        max-width: 307px;
    }
    .survey_block .line .__left .poll__part .line .progress{
        width: 150px;
    }
    .poll_block .__right .poll__part .line .progress{
        width: 120px;
    }
}
@media(max-width: 991px) {
    .poll_block > .container > .line{
        flex-direction: column;
    }
    .poll_block .__left{
        max-width: inherit;
        margin-bottom: 30px;
        padding-left: 0;
    }
    .poll_block .__right{
        max-width: inherit;
    }
    .poll_block .__right .poll__part .line .progress{
        width: 70%;
    }
    .poll_block{
        padding-bottom: 0;
    }
}
@media(max-width: 767px) {
    .poll_block .__left .form .line{
        flex-direction: column;
    }
    .poll_block .__left .form .line .inp{
        width: 100%;
    }
    .poll_block .__left .form .submit{
        flex-direction: column;
    }
    .poll_block .__left .form .submit label p{
        max-width: inherit;
        margin-right: 0;
    }
    .poll_block .__left .form .submit label{
        margin-bottom: 30px;
    }
    .poll_block .__right .poll__part .line .progress{
        width: 50%;
    }
}
