section.pagination_block
    a(href="#").prev
        img(src="assets/img/minified-svg/right.svg" width="24" height="24" alt="ic")
    .numb
        a(href="#").active 1
        a(href="#") 2
        a(href="#") 3
        a(href="#") 4
        a(href="#") 5
    a(href="#").next
        img(src="assets/img/minified-svg/right.svg" width="24" height="24" alt="ic")

