section.news_block
    .container
        .news__box
            .news__block
                p.title Новини
                .banner
                    p.date 31 листопада 
                    p.description Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу
                .item
                    .entrails
                        p.description Уряд Німеччини виділив грант у розмірі 9 млн євро на будівництва нового житла або реконструкції будівель під житло для внутрішньо переміщених осіб.
                        p.data 18 Жовтня 2018
                    .img
                        img(src="/assets/img/content/2121175.jpg", alt="news pic")
                .item
                    .entrails
                        p.description Уряд Німеччини виділив грант у розмірі 9 млн євро на будівництва нового житла або реконструкції будівель під житло для внутрішньо переміщених осіб.
                        p.data 18 Жовтня 2018
                    .img
                        img(src="/assets/img/content/2121175.jpg", alt="news pic")
                .item
                    .entrails
                        p.description Уряд Німеччини виділив грант у розмірі 9 млн євро на будівництва нового житла або реконструкції будівель під житло для внутрішньо переміщених осіб.
                        p.data 18 Жовтня 2018
                    .img
                        img(src="/assets/img/content/2121175.jpg", alt="news pic")
                
            .news__column
                .item
                    p.time 16:43 
                    p.description Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу
                .item
                    p.time 16:43 
                    p.description Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу
                .item
                    p.time 16:43 
                    p.description Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу
                .item
                    p.time 16:43 
                    p.description В ході обстрілу в ніч на 16 листопада в Донецькій області постраждали будинки мирних жителів в селищі Південне (під Торецькому).
                .item
                    p.time 16:43 
                    p.description Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу
                .item
                    p.time 16:43 
                    p.description Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу
                .item
                    p.time 16:43 
                    p.description Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу
                .item
                    p.time 16:43 
                    p.description Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу

