section.main_slider_block
        .main__slider
            .slider__item
                .__left
                    .container
                        h1.header Безпечне місто —<br>   безпечна <span>родина!</span>
                        p.sub_header 1627 камер працює у місті в рамках загальноміської системи відеоспостереження для забезечення безпеки громадян
                        .line
                            a(href="#").link Переглянути камери
                            a(href="#").link Долучітися до програми
                .__right(style="background-image: url('assets/img/content/1.png');")
                    img(src="assets/img/content/1_xs.png" alt="bg")
            .slider__item
                .__left
                    .container
                        h1.header Безпечне місто —<br>   безпечна <span>родина!</span>
                        p.sub_header 1627 камер працює у місті в рамках загальноміської системи відеоспостереження для забезечення безпеки громадян
                        .line
                            a(href="#").link Переглянути камери
                            a(href="#").link Долучітися до програми
                .__right(style="background-image: url('assets/img/content/2.png');)")
                    img(src="assets/img/content/2_xs.png" alt="bg")

