section.gov_modal_block#gov
    ul
        li
            a(href="#" target="_blank") Президент України
        li
            a(href="#" target="_blank")  Верховна Рада України

    ul
        li
            a(href="#" target="_blank") Конституційний суд України
        li
            a(href="#" target="_blank") Рада національної безпеки і оборони України
    ul
        li
            a(href="#" target="_blank") Центральні та місцеві органи виконавчої влади

    p.close X
