
@media(max-width: 767px) {
  .banner_block .line{
    flex-direction: column;
    align-items: center;
  }
  .banner_block .__right{

    padding-left: 0;
  }
    .banner_block .__left{
        margin-bottom: 30px;
    }
    .banner_block{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
